/*
Папортниковый
#74BC5B

Васильковый
#474EF8

Банановый
#F8D047

Небесный
#89D4FB

*/

/* box-shadow: -1px -2px 11px 0px #ffffff, 2px 5px 11px 4px #cbcdd3; */

.container {
  width: 70%;
  margin: 10% auto;
}

.description {
  font-size: 22px;
  margin: 2em 0;
}

.checkTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 825px;
  border-radius: 12px !important;
}

.chek_answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  font-size: 30px;
}

.chek_answer > p {
  margin: 0 0 0 0;
  font-size: 30px;
}

.taskBtn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  cursor: pointer !important;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4 !important;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4 !important;
  border: none !important;
  border-radius: 12px !important;
  background-color: #0ab7d3 !important;
  padding: 10px !important;
  font-size: 26px !important;
  color: white !important;
  min-width: 230px !important;
  margin: 0 !important;
}

.reloadIconTask {
  font-weight: bold;
  scale: 1.5;
}

.checkIconTask {
  scale: 1.2;
}

.taskBtn:hover {
  -webkit-box-shadow: -2px -2px 15px #b8b7b7, 2px 2px 15px #99999b !important;
  box-shadow: -2px -2px 15px #b8b7b7, 2px 2px 15px #99999b !important;
}

/**/
.scrollBar_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
}
.scrollBar_button {
  width: 50px;
  height: 50px;
  background-color: #dde7fd;
  border-radius: 25px;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.scrollBar_button:hover {
  background-color: #e9edf6;
}
.scrollBar_button:hover .scrollBar_arrow {
  border-top: 6px solid #0dc4e0;
  border-right: 6px solid #0dc4e0;
}
.scrollBar_arrow {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  width: 10px;
  height: 10px;
  border-top: 6px solid #0892a7;
  border-right: 6px solid #0892a7;
}
.scrollBar_arrow_right {
  top: 17px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.scrollBar_arrow_left {
  top: 17px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 19px;
}

/**/

.gallery_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5% 0;
}

.gallery_arrow {
  z-index: 100;
  width: 25px;
  height: 25px;
  border-top: 6px solid #0892a7;
  border-right: 6px solid #0892a7;
  cursor: pointer;
}

.gallery_arrow:hover {
  border-top: 6px solid #0dc4e0;
  border-right: 6px solid #0dc4e0;
}
.gallery_arrow_right {
  top: 17px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gallery_arrow_left {
  top: 17px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 19px;
}

/**/
.gallary_buttons_white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 12px;
  margin-left: 2em;
  background-color: #0892a7;
}

.gallery_arrow_white {
  z-index: 100;
  width: 25px;
  height: 25px;
  border-top: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  cursor: pointer;
}

.gallery_arrow_white:hover {
  border-top: 6px solid #dde7fd;
  border-right: 6px solid #dde7fd;
}

.gallery_arrow_right_white {
  top: 17px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gallery_arrow_left_white {
  top: 17px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 19px;
}

/**/
.scrollBar_container {
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  border-radius: 12px;
}

/**/

.icon_speaker_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5% 0;
}

.icon_speaker_button {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 50px;
  height: 50px;
  background-color: #0892a7;
  border-radius: 25px;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.icon_speaker_button:hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.animatingSoundIconPlay {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: playAction 1.3s linear infinite;
  animation: playAction 1.3s linear infinite;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.staticSoundIconPause {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-box-shadow: 0 0 10px 5px rgb(55, 98, 218);
  box-shadow: 0 0 10px 5px rgb(55, 98, 218);
}

/* .staticSoundIconPause:hover {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
} */

/*
Папортниковый
#74BC5B

Васильковый
#474EF8

Банановый
#F8D047

Небесный
#89D4FB

*/

@-webkit-keyframes playAction {
  0% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  25% {
    -webkit-box-shadow: 0 0 10px 7px #474ef8;
    box-shadow: 0 0 10px 7px #474ef8;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 10px #f8d047;
    box-shadow: 0 0 10px 10px #f8d047;
  }
  75% {
    -webkit-box-shadow: 0 0 10px 7px #74bc5b;
    box-shadow: 0 0 10px 7px #74bc5b;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
}

@keyframes playAction {
  0% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  25% {
    -webkit-box-shadow: 0 0 10px 7px #474ef8;
    box-shadow: 0 0 10px 7px #474ef8;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 10px #f8d047;
    box-shadow: 0 0 10px 10px #f8d047;
  }
  75% {
    -webkit-box-shadow: 0 0 10px 7px #74bc5b;
    box-shadow: 0 0 10px 7px #74bc5b;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
}

.staticSoundIconPause {
  -webkit-animation: playActionPause 2s linear infinite;
  animation: playActionPause 2s linear infinite;
  -webkit-transition: -webkit-animation 1s linear;
  transition: -webkit-animation 1s linear;
  -o-transition: animation 1s linear;
  transition: animation 1s linear;
  transition: animation 1s linear, -webkit-animation 1s linear;
}
@-webkit-keyframes playActionPause {
  0% {
    -webkit-box-shadow: 0 0 10px 3px #89d4fb;
    box-shadow: 0 0 10px 3px #89d4fb;
  }
  25% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 8px #89d4fb;
    box-shadow: 0 0 10px 8px #89d4fb;
  }
  75% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 3px #89d4fb;
    box-shadow: 0 0 10px 3px #89d4fb;
  }
}
@keyframes playActionPause {
  0% {
    -webkit-box-shadow: 0 0 10px 3px #89d4fb;
    box-shadow: 0 0 10px 3px #89d4fb;
  }
  25% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 8px #89d4fb;
    box-shadow: 0 0 10px 8px #89d4fb;
  }
  75% {
    -webkit-box-shadow: 0 0 10px 5px #89d4fb;
    box-shadow: 0 0 10px 5px #89d4fb;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 3px #89d4fb;
    box-shadow: 0 0 10px 3px #89d4fb;
  }
}

.icon_speaker_volume {
  pointer-events: none;
  scale: 1.2;
  top: 21px;
  left: 12px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
  -ms-transform: scale(var(--ggs, 1));
  transform: scale(var(--ggs, 1));
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-right: 0;
  -webkit-perspective: 12px;
  perspective: 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.icon_speaker_volume::after,
.icon_speaker_volume::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}
.icon_speaker_volume::before {
  left: 2px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-left: 0;
  top: -3px;
}
.icon_speaker_volume::after {
  width: 8px;
  height: 16px;
  border: 6px double;
  border-left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  right: -14px;
  top: -6px;
}

/**/
.icon_zoomPicture_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5% 0;
  gap: 2em;
}

.icon_zoomPicture {
  cursor: pointer;
  scale: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  background: -o-linear-gradient(top, currentColor 5px, transparent 0) no-repeat 2px 5px/8px 2px;
  background: linear-gradient(to bottom, currentColor 5px, transparent 0) no-repeat 2px 5px/8px 2px;
  color: #0892a7;
  margin-top: -4px;
}

.icon_zoomPicture::after,
.icon_zoomPicture::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 8px;
  background: currentColor;
}
.icon_zoomPicture::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 3px;
  top: 10px;
  left: 12px;
}
.icon_zoomPicture::before {
  top: 2px;
  left: 5px;
}

.whiteZoomImg {
  color: #fff;
}

/**/
.indicatorCheck_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5% 0;
  gap: 2em;
}
.indicatorCheck_color {
  cursor: pointer;
  font-size: 20px;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  border-radius: 12px;
}

.wrongChoice_answered {
  -webkit-box-shadow: 0px 0px 7px 7px lightpink, 0px 0px 10px 0px lightpink;
  box-shadow: 0px 0px 7px 7px lightpink, 0px 0px 10px 0px lightpink;
}
.rightChoice_answered {
  -webkit-box-shadow: 0px 0px 7px 7px lightgreen, 0px 0px 10px 0px lightgreen;
  box-shadow: 0px 0px 7px 7px lightgreen, 0px 0px 10px 0px lightgreen;
}
